* {
  margin: 0;
  padding: 0;
}

#banner header {
  position: absolute;
  z-index: 1;
  transform: translate(200px, 150px);
}

#banner h1 {
  font-size: 60px;
}

#banner h3 {
  letter-spacing: 1.3px;
  margin-bottom: 40px;
  transform: translateX(53px);
}

#banner a {
  background-color: #000;
  color: #fff !important;
  padding: 10px 15px;
  margin: 0 75px;
}

#banner img {
  position: relative;
  max-width: 100%;
  max-height: 30%;
}

#profile {
  padding: 40px 30px;
}

.active {
  border-bottom: 1px solid #000;
}

.border {
  border: 1px solid #000;
}

.column-2 {
  display: flex;
  padding: 30px 0;
}

.column-2 div {
  width: 50vw;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  padding: 10px 20px;
}

nav>img {
  border-radius: 50%;
  width: 50px;
}

nav,
ul {
  display: flex;
}

ul {
  margin-left: auto;
}

li {
  align-self: center;
  display: flex;
  height: fit-content;
  list-style: none;
  margin: 0 5px;
  padding: 10px 15px;
}

h1:not(#banner h1)::after {
  content: "■";
  position: relative;
  left: 5px;
  font-size: 20px;
}

h3:not(#banner h3)::after {
  content: "";
  position: absolute;
  transform: translate(5px, 12px);
  width: 170px;
  border: 1px solid #413e3edc;
}

h1 {
  font-size: 30px;
}

h3 {
  color: #413e3edc !important;
}

p {
  line-height: 25px;
}

h3:not(#banner h3) {
  margin-bottom: 20px;
}