* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1;
}

nav,
ul {
  display: flex;
  padding: 5px 10px;
}

ul {
  gap: 30px;
  margin: 0 40px;
}

li {
  list-style: none;
}

li>a {
  color: #fff !important;
  letter-spacing: 1.3px;
}

section:not(section:first-of-type) {
  padding: 35px;
}

p {
  line-height: 25px;
}

h1:not(section:first-of-type h1)::after {
  content: "■";
  position: relative;
  left: 5px;
  font-size: 20px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 35vw;
}

input,
textarea {
  padding: 8px;
  margin: 5px 0;
  border: 1.2px solid #413e3edc;
  border-radius: 5px;
}

footer {
  margin: 90px 60px 0;
  border-top: 1px solid #413e3edc;
  padding: 30px 0;
}

footer h4 {
  line-height: 25px;
}

nav ul {
  display: none;
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.column-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  width: 45px;
  border-radius: 50%;
}

.mw-100 {
  max-width: 100%;
}

.position-revert {
  position: revert;
}

.position-absolute {
  position: absolute;
}

.main-button {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  cursor: pointer;
  width: fit-content;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.brand h3 {
  margin: 0 20px;
  letter-spacing: 1.3px;
  color: #fff;
}

.brand h3::after {
  content: "■";
  position: relative;
  left: 5px;
  font-size: 20px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.m-y-15 {
  margin: 15px 0;
}

.p-y-5 {
  padding: 5px 0;
}

.border {
  border: 1px solid #000;
}

.border-bottom {
  border-bottom: 1px solid #413e3edc;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.text-black-olive {
  color: #413e3eb7;
}

#banner {
  /* background-image: url("https://picsum.photos/id/101/1366/576?grayscale"); */
  background-size: cover;
  background-position: center;
  height: fit-content;
  padding: 90px 0 70px;
  transition: background-image is ease-in-out;
}

#banner header {
  text-align: center;
}

#banner h1 {
  font-size: 40px;
}

#banner h3:last-of-type {
  letter-spacing: .5px;
  margin-bottom: 25px;
}

@media only screen and (min-width:768px) {
  nav ul {
    display: flex;
  }

  nav {
    padding: 5px 20px;
  }

  .column-3 {
    flex-direction: row;
    gap: 10px;
  }

  .column-3 div {
    width: 33.333vw;
  }

  .column-2 {
    flex-direction: row;
    gap: 50px;
  }

  .column-2 div {
    width: 50vw;
  }

  #banner {
    padding: 120px 80px 70px;
  }

  #banner header {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width:992px) {

  nav,
  ul {
    padding: 5px 30px;
  }

  h3:not(section:first-of-type h3, nav h3)::after {
    content: "";
    position: absolute;
    transform: translate(5px, 12px);
    width: 170px;
    border: 1px solid #413e3edc;
  }

  .brand {
    font-size: 1em;
  }

  #banner {
    padding: 170px 200px;
  }

  #banner header {
    align-items: flex-end;
  }

  #banner h1 {
    font-size: 60px;
  }

  #banner h3:last-of-type {
    letter-spacing: 1.1px;
    margin-bottom: 40px;
  }
}